<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="foundation/css/foundation.css" />

    <script src="js/angular.js"></script>
    <script src="js/script.js"></script>

    <script src="foundation/js/vendor/jquery.js"></script>
    <script src="foundation/js/vendor/what-input.js"></script>
    <script src="foundation/js/vendor/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
   
</head>

<body>
        <div class="top-bar ">
                <div class="top-bar-left ">
                  <ul class="dropdown menu " data-dropdown-menu>
                        <li><button type="button" class="button ">hb</button></li>
                    <li class="menu-text ">Site Title</li>
                    
                  </ul>
                </div>
                <div class="top-bar-right">
                  <ul class="menu">
                    <li><button type="button" class="button small-12 medium-12 large-12">Acc</button></li>
                  </ul>
                </div>
              </div>
    <div class="grid-container">
        <div ng-app="init" ng-controller="cont1" class="grid-container grid-x grid-margin-x align-justify">
            <div id="init"  class="grid-x grid-margin-x align-right small-12 medium-12 large-6">

                <div class="small-10 medium-10 large-10">
                    <form name="RegForm"action="register.php" method="POST" ng-submit="submitpost()" novalidate>

                        <input id="fname" name="fname" ng-model="fname" ng-required="true" type="text" placeholder="First Name">
                        <span ng-show="RegForm.fname.$invalid && !RegForm.fname.$pristine">First Name is Required</span>

                        <input id="lname" name="lname" ng-model="lname" ng-required="true" type="text" placeholder="Last Name">
                        <span ng-show="RegForm.lname.$invalid && !RegForm.lname.$pristine">Last name is invalid</span>


                        <input id="email" name="email" ng-model="email" ng-required="true" type="email" placeholder="Email ID" ng-pattern="/[a-z0-9._]+@inmar\.com/">
                        <span ng-show="RegForm.email.$invalid && !RegForm.email.$pristine ">Your email should be something@inmar.com</span>
                        
                        <input id="aadhar" name="aadhar" ng-model="aadhar" ng-required="true" type="text" placeholder="Aadhar Number" ng-pattern="/[0-9]{12}/">
                        <span ng-show="RegForm.aadhar.$invalid && !RegForm.aadhar.$pristine ">Aadhar number shpuld contain only Numbers</span>
                        
                        <input id="phone" name="phone" ng-model="phone" ng-required="true" type="text" placeholder="Phone Number" ng-pattern="/[0-9]{10}/">
                        <span ng-show="RegForm.phone.$invalid && !RegForm.phone.$pristine ">Aadhar number shpuld contain only Numbers</span>

                        <input id="psw" name="psw" ng-model="psw" ng-required="true" type="password" ng-minlength="8" ng-maxlength="15"  placeholder="Password" ng-keyup="checkstrength()" ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[*&_!@.]).{8,15}/">
                        <span ng-show="RegForm.psw.$invalid && !RegForm.psw.$pristine ">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</span>
                        


                        <input id="cnfpsw" name="cnfpsw" ng-model="cnfpsw" ng-required="true" type="password" placeholder="Confirm Password" ng-keyup="checkcnfpsw()">
                        <span ng-show=" RegForm.cnfpsw.$invalid && !RegForm.cnfpsw.$pristine">Enter Confirm Password</span><br>
                        <span>{{str}}</span>

                        <select id="gender" name="gender" ng-model-options="gender" ng-required="true">

                            <option disabled selected>Gender</option>

                            <option value="Male">Male</option>

                            <option value="Female">Female</option>

                            <option value="Others">Others</option>

                        </select>
                        <span>{{gender}}</span>
                        <button class="button" ng-disabled="RegForm.$invalid" type="submit">Register</button>
                    </form>
                </div>

            </div>


            <div id="login"  class="grid-x grid-margin-x align-left small-12 medium-12 large-6 ">

                <div class="small-10 medium-10 large-10 ">
                    <form name="LogForm"  ng-submit="login()" novalidate>

                        <input id="lemail" name="lemail" ng-model="lemail" ng-required="true" type="email" placeholder="Email ID" ng-pattern="/[a-z0-9._]+@inmar\.com/">
                        <span ng-show="LogForm.lemail.$invalid && !LogForm.lemail.$pristine">Your email should be something@inmar.com</span>

                        <input id="lpsw" name="lpsw" ng-model="lpsw" ng-required="true" type="password" placeholder="Password" ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/">
                        <p ng-show="LogForm.lpsw.$invalid && !LogForm.lpsw.$pristine">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</p>

                        <button class="button " ng-disabled="LogForm.$invalid" type="submit">login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="foundation/js/vendor/jquery.js"></script>
    <script src="foundation/js/vendor/what-input.js"></script>
    <script src="foundation/js/vendor/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
   
</body>

</html>